<section class="hero is-success">
  <div class="gero-body">
    <div class="container">
      <div class="title">
        New recipe
      </div>
    </div>
  </div>
</section>

<% if @recipe.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @recipe do |f| %>
          <div class="field">
            <%= f.label :title, "Recipe name", class: "label" %>
            <%= f.text_field :title, class: "input" %>
          </div>
          <div class="field">
            <%= f.label :list, "Ingredients", class: "label" %>
            <%= f.text_area :list, class: "textarea" %>
          </div>
          <div class="field">
            <%= f.label :body, "Directions", class: "label" %>
            <%= f.text_area :body, class: "textarea" %>
          </div>
          <div class="field">
            <%= f.label :image, "Picture", class: "label" %>
            <%= f.attachment_field :image, class: "input" %>
          </div>
          <%= f.submit "Post", class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>







